<h1>Cat!</h1>

<ul>
    <li> Name: <%= @kat.name %></li>
    <li> Date Of Birth: <%= @kat.birth_date %></li>
    <li> Age: <%= @kat.age %></li>
    <li> Color: <%= @kat.color %></li>
    <li> Sex: <%= @kat.sex %></li>
    <li> Description: <%= @kat.description %></li>
</ul>